<section id="section-registration">
  <div class="container">
      <!-- <h2>REGISTRATION IS CLOSED </h2> -->
    <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8">
        <form name="myForm" ng-submit="vm.submitForm()" novalidate>
          <div ng-if="vm.step === 1" class="forms">
            <h2>REGISTRATION FORM </h2>

            <div class="alert alert-purple">
              For <strong>People with Special Need (PWSN)</strong> and <strong>Caregiver</strong>, please <a href="http://bit.ly/RunForInclusion2020" target="_blank" rel="noopener noreferrer">Click Here!</a> 
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Full Name (As in NRIC or Passport) * :</label>
                  <input type="text" class="form-control" placeholder="Type your Full Name here" name="fullName" ng-model="vm.fullName" required>
                  <span class="help-block" ng-show="myForm.fullName.$touched && myForm.fullName.$invalid">This field is required.</span>
                </div>
              </div>
              <!-- <div class="col-sm-6">
                <div class="form-group">
                  <label>First Name * :</label>
                  <input type="text" class="form-control" placeholder="Type your First Name here" name="firstName" ng-model="vm.firstName" required>
                  <span class="help-block" ng-show="myForm.firstName.$touched && myForm.firstName.$invalid">This field is required.</span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Last Name (Surname) * :</label>
                  <input type="text" class="form-control" placeholder="Type your Last Name here" name="lastName" ng-model="vm.lastName" required>
                  <span class="help-block" ng-show="myForm.lastName.$touched && myForm.lastName.$invalid">This field is required.</span>
                </div>
              </div> -->
            </div>
            <!-- <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Nationality * :</label>
                  <select class="form-control" name="residency" ng-model="vm.residency" required>
                    <option value="" disabled>Choose Nationality</option>
                    <option ng-repeat="(key, value) in vm.residencyStatuses" value="{{value}}">{{value}}</option>
                  </select>
                  <span class="help-block" ng-show="myForm.residency.$touched && myForm.residency.$invalid">This field is required.</span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Race :</label>
                  <select class="form-control" name="race" ng-model="vm.race">
                    <option value="" disabled>Choose Race</option>
                    <option ng-repeat="(key, value) in vm.races" value="{{value}}">{{value}}</option>
                  </select>
                </div>
              </div>
            </div> -->
            <div class="form-group">
              <label>Year of Birth * :</label>
              <div class="row date">
                <!-- <div class="col-xs-4 day">
                  <input type="number" class="form-control" placeholder="Day" min="1" max="31" name="day" ng-model="vm.day" required>
                  <span class="help-block" ng-show="myForm.day.$touched && myForm.day.$error.required">This field is required.</span>
                  <span class="help-block" ng-show="myForm.day.$error.min">Day no not less that 1.</span>
                  <span class="help-block" ng-show="myForm.day.$error.max">Day no not more than 31.</span>
                </div>
                <div class="col-xs-4 month">
                  <select class="form-control" name="month" ng-model="vm.month" required>
                    <option value="" selected disabled>Month</option>
                    <option ng-repeat="month in vm.months" value={{$index}}>{{month}}</option>
                  </select>
                  <span class="help-block" ng-show="myForm.month.$touched && myForm.month.$invalid">This field is required.</span>
                </div>
                <div class="col-xs-4 year">
                  <select class="form-control" name="year" ng-model="vm.year" required>
                    <option value="" selected disabled>Year</option>
                    <option ng-repeat="year in vm.years" value={{year}}>{{year}}</option>
                  </select>
                  <span class="help-block" ng-show="myForm.year.$touched && myForm.year.$invalid">This field is required.</span>
                </div> -->
                <div class="col-sm-12">
                  <select class="form-control" name="yearOfBirth" ng-model="vm.yearOfBirth" required>
                    <option value="" selected disabled>Year Of Birth</option>
                    <option ng-repeat="yearOfBirth in vm.years" value={{yearOfBirth}}>{{yearOfBirth}}</option>
                  </select>
                  <span class="help-block" ng-show="myForm.yearOfBirth.$touched && myForm.yearOfBirth.$invalid">This field is required.</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                    <label>NRIC/FIN/Passport No. ( only last 3 digits + Alphabet) * :</label>
                    <input type="text" class="form-control" name="identityNo" ng-model="vm.identityNo" required placeholder="Type your NRIC/ Passport here">
                    <span class="help-block" ng-show="myForm.identityNo.$touched && myForm.identityNo.$invalid">This field is required.</span>
                </div>
              </div>
              <!-- <div class="col-sm-6">
                <div class="form-group">
                  <label>Gender * :</label>
                  <select class="form-control" name="gender" ng-model="vm.gender" required>
                    <option value="" selected disabled>Choose Gender</option>
                    <option ng-repeat="gender in vm.genders" value={{gender}}>{{gender}}</option>
                  </select>
                  <span class="help-block" ng-show="myForm.gender.$touched && myForm.gender.$invalid">This field is required.</span>
                </div>
              </div> -->
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Email Address * :</label>
                  <input type="email" class="form-control" placeholder="Type your Email here" name="email" ng-model="vm.email" required>
                  <span class="help-block" ng-show="myForm.email.$touched && myForm.email.$error.required">This field is required.</span>
                  <span class="help-block" ng-show="myForm.email.$touched && myForm.email.$error.email">Invalid email address format.</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Contact Number (Handphone) * :</label>
                  <div class="input-group country-code-group">
                    <select class="form-control form-control-left" name="countryPhoneCode" ng-model="vm.countryPhoneCode" required>
                        <option ng-repeat="countryCode in vm.countryCodes" value=+{{countryCode.callingCodes[0]}} ng-show="countryCode.callingCodes[0] !== ''">{{countryCode.alpha2Code}} (+{{countryCode.callingCodes[0]}})</option>
                    </select>
                    <input type="number" class="form-control form-control-right" placeholder="Type your Contact Number here" name="contact" ng-model="vm.contact" required>
                  </div>
                  <span class="help-block" ng-show="myForm.contact.$touched && myForm.contact.$invalid">This field is required.</span>
                </div>
              </div>
              <!-- <div class="col-sm-6">
                <div class="form-group">
                  <label>Email Address * :</label>
                  <input type="email" class="form-control" placeholder="Type your Email here" name="email" ng-model="vm.email" required>
                  <span class="help-block" ng-show="myForm.email.$touched && myForm.email.$error.required">This field is required.</span>
                  <span class="help-block" ng-show="myForm.email.$touched && myForm.email.$error.email">Invalid email address format.</span>
                </div>
              </div> -->
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Contact Number (Home) * :</label>
                  <input type="phoneNumber" class="form-control" placeholder="Type your Phone Number here" name="phoneNumber" ng-model="vm.phoneNumber" required>
                  <span class="help-block" ng-show="myForm.phoneNumber.$touched && myForm.phoneNumber.$error.required">This field is required.</span>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- <div class="col-xs-12">
                <label>Address:</label>
              </div> -->
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Postal Code:</label>
                  <input type="text" class="form-control" placeholder="Type your Postal Code here" name="postalCode" ng-model="vm.postalCode">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Unit Number:</label>
                  <input type="text" class="form-control" placeholder="Type your Unit Number here" name="unitNumber" ng-model="vm.unitNumber">
                </div>
              </div>
              <!-- <div class="col-sm-6">
                <div class="form-group">
                  <label>Enter Promo Code:</label>
                  <input id="promoCodeInput" type="text" class="form-control" placeholder="If you have a promo code" name="promocode" ng-model="vm.promocode" 
                    ng-change="vm.getPromoCode(true)"
                    ng-model-options="{debounce: 750}">
                </div>
              </div> -->
              <!-- <div class="col-sm-4">
                <div class="form-group">
                  <label>Floor/Unit No:</label>
                  <input type="text" class="form-control" name="floorNo" ng-model="vm.floorNo" readonly>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Block/Street Name:</label>
                  <input type="text" class="form-control" name="streetName" ng-model="vm.streetName" readonly>
                </div>
              </div> -->
            </div>
            <div class="form-group">
              <label>Select Race Category * :</label>
              <select class="form-control" name="raceCategory" ng-model="vm.raceCategory" required>
                <option value="" disabled>Choose Race Category</option>
                <option ng-repeat="(key, raceCategory) in vm.raceCategories" value="{{raceCategory.VALUE}}" ng-disabled="raceCategory.CLOSED">{{raceCategory.LABEL}}</option>
              </select>
              <span class="more-info">See the Race Category list details <a ui-sref="layout.race({'#': 'categories'})" target="_blank"> <strong>here</strong> </a></span>
              <span class="help-block" ng-show="myForm.raceCategory.$touched && myForm.raceCategory.$invalid">This field is required.</span>
            </div>
            <!-- <div class="form-group" ng-if="vm.residency === vm.residencyStatuses.RESIDENCY_STATUS_SINGAPOREAN">
              <label>Address:</label>
              <textarea class="form-control" rows="5" id="comment" placeholder="Type your Address" name="address" ng-model="vm.address"></textarea>
            </div> -->
            <div class="row">
              <!-- <div class="col-sm-6">
                <div class="form-group">
                  <label>Blood Type * :</label>
                  <select class="form-control" name="bloodType" ng-model="vm.bloodType" required>
                    <option value="" selected disabled>Choose Blood Type</option>
                    <option ng-repeat="blood in vm.bloodTypes" value={{blood}}>{{blood}}</option>
                  </select>
                  <span class="help-block" ng-show="myForm.bloodType.$touched && myForm.bloodType.$invalid">This field is required.</span>
                </div>
              </div> -->
              <div class="col-sm-12">
                <div class="form-group">
                  <label>T-Shirt Size * :</label>
                  <select class="form-control" name="tshirtSize" ng-model="vm.tshirtSize" required>
                    <option value="" selected disabled>Choose T-Shirt Size</option>
                    <option ng-repeat="size in vm.tshirtSizes" ng-if="size.ordered < size.totalLimit" value={{size.name}}>{{size.name}}</option>
                  </select>
                  <span class="more-info">See the T-Shirt Size list details <a ui-sref="layout.race({'#': 'faq'})" target="_blank"> <strong>here</strong> </a></span>
                  <span class="help-block" ng-show="myForm.tshirtSize.$touched && myForm.tshirtSize.$invalid">This field is required.</span>
                </div>
              </div>
            </div>
            <!-- <div class="form-group">
              <label>Allergies:</label>
              <textarea class="form-control" rows="5" placeholder="Type your Allergies here" id="comment" name="allergie" ng-model="vm.allergie"></textarea>
            </div> -->
            <div class="form-group">
              <label>Medical Conditions:</label>
              <textarea class="form-control" rows="5" placeholder="Type your Medical Conditions here" id="comment" name="medicalCondition" ng-model="vm.medicalCondition"></textarea>
            </div>
            <div class="form-group">
              <label>Medical Declaration:</label>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="yes" name="medicalDeclaration" ng-model="vm.medicalDeclaration">
                    I do not have any medication that will prevent me from taking part in the event I signed up for
              </div>
            </div>
            <h4>In case of Emergency:</h4>
            <div class="form-group">
              <label>Name * :</label>
              <input type="text" class="form-control" placeholder="Type your Name here" name="emergencyName" ng-model="vm.emergencyName" required>
              <span class="help-block" ng-show="myForm.emergencyName.$touched && myForm.emergencyName.$invalid">This field is required.</span>
            </div>
            <div class="form-group">
              <label>Relationship * :</label>
              <input type="text" class="form-control" placeholder="ex. Father, Mother, etc." name="emergencyRelation" ng-model="vm.emergencyRelation" required>
              <span class="help-block" ng-show="myForm.emergencyRelation.$touched && myForm.emergencyRelation.$invalid">This field is required.</span>
            </div>
            <div class="form-group">
              <label>Contact No * :</label>
              <input type="text" class="form-control" placeholder="Type your Contact Number here" name="emergencyContact" ng-model="vm.emergencyContact" required>
              <span class="help-block" ng-show="myForm.emergencyContact.$touched && myForm.emergencyContact.$invalid">This field is required.</span>
            </div>
            <p class="info">
              <!-- Please ensure that the emergency contact person is a non-participant of RUN FOR INCLUSION {{vm.eventYear}} and will be contactable on the race day.
               -->
              We will be conducting integration workshops to raise awareness for guiding people with special needs to participate in mainstream sports activities.
            </p>
            <p class="info">
              <!-- We will be conducting integration workshops to raise awareness for guiding people with special needs to participate in mainstream sports activities.
              Do support by attending our Integration Workshop for <strong>FREE</strong> so that you could know more about guiding person with special needs! Participants of the workshop can choose to partner a person with special needs on race day. -->
              Do support by attending our Integration Workshop for <strong>FREE</strong> so that you could know more about guiding persons with special needs. Participants of the workshop can choose to partner with a person with special needs on race day
            </p>
            <div class="form-group">
              <!-- <label>Would you like to participate the integration workshop? * :</label> -->
              <label>Integration Workshop Participation Date * :</label>
              <select class="form-control" name="participateWorkshopDate" ng-model="vm.participateWorkshopDate" required>
                <option value="" disabled>Choose your answer</option>
                <option ng-repeat="(key, value) in vm.workshops" value="{{value.DATE}}" ng-disabled="value.FULLY_BOOKED">{{value.LABEL}}</option>
              </select>
              <span class="help-block" ng-show="myForm.participateWorkshopDate.$touched && myForm.participateWorkshopDate.$invalid">This field is required.</span>
            </div>
            <div class="form-group" ng-if="vm.merchandises.length > 0">
              <label>Choose the merchandise you wish to buy :</label>
              <div class="row">
                <div class="col-sm-4 col-xs-6" ng-repeat="merchandise in vm.merchandises">
                  <div class="checkbox cb">
                    <label data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#{{merchandise.selected ? merchandise._id : ''}}">
                      <input type="checkbox" ng-model='merchandise.selected' ng-disabled='merchandise.soldOut'/>
                      <img src="{{ merchandise.imageUrl }}" class="img-merchandise" alt="{{ merchandise.name }}" />
                      <p class="product-name">{{ merchandise.name }}<br/>${{ merchandise.price }}<br/><span class="alert_danger" ng-if="merchandise.soldOut">SOLD OUT</span></p>
                    </label>
                  </div>
                  <div class="modal fade" id="{{merchandise._id}}" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" ng-click="merchandise.selected = false" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">{{ merchandise.name }} ${{ merchandise.price }}</h4>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-md-6 text-center">
                              <img src="{{ merchandise.imageUrl }}" class="img-merchandise-modal" alt="{{ merchandise.name }}" />
                            </div>
                            <div class="col-md-6 text-center">
                              <div class="form-group" ng-if="merchandise.hasVarianSize === 'Yes' " ng-repeat="size in vm.tshirtSizes">
                                <label class="control-label col-sm-2 p-2 mt-4" for="email">{{size.name}}:</label>
                                <div class="col-sm-10 p-2">
                                  <input type="number" class="form-control input-sm" placeholder="Qty" value="0" min="0" name="quantity" ng-model="size.quantity">
                                </div>
                              </div>
                              <div class="form-group" ng-if="merchandise.hasVarianSize !== 'Yes' " >
                                <label class="control-label col-sm-2 p-2 mt-4" for="email">Qty:</label>
                                <div class="col-sm-10 p-2">
                                  <input type="number" class="form-control input-sm" placeholder="Qty" value="1" min="1" name="quantity" ng-model="merchandise.quantity">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" ng-click="merchandise.selected = false" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                          <button type="button" ng-click="merchandise.selected = true" class="btn btn-primary" data-dismiss="modal">Ok</button>
                        </div>
                      </div>          
                    </div>
                  </div>
                </div>
              </div>
              <p class="info">
                Please click <strong>NEXT</strong> if you do not wish to purchase any items.
              </p>
            </div>
            <p class="info">
              * This field is required!
            </p>
            <hr />
            <div style="text-align:right">
              <button type="button" class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="vm.next()">Next</button>
            </div>
          </div>
          <div ng-if="vm.step === 2" class="terms">
            <h3>TERMS AND CONDITION </h3>
            <h5>A. GENERAL</h5>
            <ol>
              <li>Please note that the completion of the online entry form confirms the Participants' agreement to abide by the relevant Rules & Regulations of RUN FOR INCLUSION {{vm.eventYear}}.</li>
              <li>Runninghour Co-operative may contact the Participant from time to time by email or telephone call which is only when necessary. Any notice sent to the email address registered with the Organiser shall be deemed as received by the Participant.</li>
              <li>Runninghour Co-operative reserves the right to use any photographs, motion pictures, recordings, or any other records of the Event for any legitimate purposes, including for promotion of public awareness towards persons with special needs but not for commercial uses.</li>
              <li>Participants are strictly not allowed to transfer their race entries to another party or change race categories after their registrations are confirmed.</li>
              <li>Participants below 18 years of age need to seek parental or guardian consent before participating in the event.</li>
              <li>Participants must wear their assigned number bib at all times during the race. Participants without the allocated bib number will not be allowed to take part in the race.</li>
              <li>Runninghour Co-operative reserves the right to delay the commencement of the run in the event of inclement weather. Should the inclement weather persist after the delay, the Organiser reserves the right to cancel the race without refund of registration fees.</li>
              <li>No pets, or any form of wheel-run objects of transport e.g. inline skates, prams, push cars, shoes with built-in or attached rollers is allowed on the course during the race except official race, medical vehicles and mobility aids for persons with physical impairment.</li>
              <li>While baggage deposit services are provided on the race day, Runninghour Co-operative will not be held responsible for any loss and/or damage, personal or otherwise, to the belongings and items deposited. </li>
            </ol>
            <h5>B. SAFETY & MEDICAL ADVISORY</h5>
            <ol>
              <li>Whilst reasonable precautions will be taken by the Organiser to ensure the safety of participants, participants take part at their own risks and the Organiser, their sponsors and their appointed officials shall not be liable for any death or injury, loss or damage, suffered or otherwise, and howsoever arising. </li>
              <li>The Organiser reserves the right to stop any participant deemed physically incapable of continuing with the run to prevent him/her from causing greater harm and injury to himself/herself.</li>
              <li>Participants are strongly encouraged to go for a medical examination and/ or consult their medical practitioner prior to registration and before the actual race day. </li>
              <li>For the safety of participants, participants are advised to run on the designated route and observe traffic regulations. </li>
            </ol>
            <h5>C. PERSONAL INFORMATION CLAUSE</h5> You agree that any personally identifiable information which you provide to us may be collected by the for the following purpose:
            <ol>
              <li>To provide goods and services by the Organiser or its designated representatives, and related organisations to you or parties designated by you.</li>
              <li>To verify and record your personal particulars and to use the information to communicate with you.</li>
              <li>To send you information, promotions and updates including marketing and advertising materials in relation to goods and services of the Organiser, its affiliates and related organisations.</li>
            </ol>
            <h5>D. WAIVER: RESPONSIBILITES OF THE PARTICIPANTS</h5>
            <ol>
              <li>I hereby declare that I DO NOT suffer from any congenital or acquired physical condition or injury that could affect my conditions of health or life, should I participate in the Run For Inclusion {{vm.eventYear}}. I also declare I am in good physical condition capable of participating in it, and I also assume all risks associated with my participation in the Race. </li>
              <li>I understand and voluntarily agree that Runninghour Co-operative and partners do NOT take responsibility for any kind of indemnity, claim, cost, damage and/or prejudicial consequence claimed, including but not limited to damages from accidents or any material, physical, psychological or moral damage or lost profits caused to my person or to my dependents, because of and on the occasion of the Race in which I shall participate.</li>
              <li>I declare that I have read and understood the above information, I accept the rules and I grant permission for my personal data to be handled under the terms described herein.</li>
            </ol>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" name="agree" ng-model="vm.agree" required>I agree with the Terms & Conditions.</label>
            </div>
            <hr />
            <div style="float:left">
              <button type="button" class="btn btn-default" ng-click="vm.back()">Back</button>
            </div>
            <div style="float:right">
              <!-- <button type="button" class="btn btn-primary" ng-disabled="myForm.agree.$invalid" ng-click="vm.next()">Next</button> -->
              <button type="button" class="btn btn-primary" ng-show="!vm.registerStatus" ng-disabled="myForm.agree.$invalid" ng-click="vm.next()">Next</button>
              <button type="button" class="btn btn-primary" ng-show="vm.registerStatus" ng-disabled="myForm.agree.$invalid" ng-click="vm.submitPromoCode()">Register</button>
            </div>
          </div>
          <div ng-if="vm.step === 3" class="stripe">
            <h3>PAYMENT </h3>
            <div class="form-group">
              <label>Card Number * :</label>
              <input type="text" class="form-control" name="cardNumber" ng-model="vm.cardNumber" pattern="[0-9.]+" required placeholder="Type your Card Number">
              <span class="help-block" ng-show="myForm.cardNumber.$error.pattern">This field should be number!</span>
              <span class="help-block" ng-show="myForm.cardNumber.$touched && myForm.cardNumber.$error.required">This field is required.</span>
              <div class="cardLogos">
                <img class="cardLogo" ng-show="vm.getCardType() === 'Amex'" src="resources/img/registration/amex.jpg" />
                <img class="cardLogo" ng-show="vm.getCardType() === 'Diners'" src="resources/img/registration/diners.jpg" />
                <img class="cardLogo" ng-show="vm.getCardType() === 'Discover'" src="resources/img/registration/discover.jpg" />
                <img class="cardLogo" ng-show="vm.getCardType() === 'JCB'" src="resources/img/registration/jcb.jpg" />
                <img class="cardLogo" ng-show="vm.getCardType() === 'Mastercard'" src="resources/img/registration/mastercard.jpg" />
                <img class="cardLogo" ng-show="vm.getCardType() === 'Visa'" src="resources/img/registration/visa.jpg" />
              </div>
            </div>
            <div class="form-group">
              <label>Expiration Date * :</label>
              <div class="row">
                <div class="col-xs-6 col-sm-4">
                  <select class="form-control" name="cardMonth" ng-model="vm.cardMonth" required>
                    <option value="" selected disabled>Month</option>
                    <option ng-repeat="month in vm.months" value={{$index}}>{{('0' + ($index + 1)).slice(-2) +" ("+ month.substring(0,3) + ")"}}</option>
                  </select>
                  <span class="help-block" ng-show="myForm.cardMonth.$touched && myForm.cardMonth.$invalid">This field is required.</span>
                </div>
                <div class="col-xs-6 col-sm-4">
                  <select class="form-control" name="cardYear" ng-model="vm.cardYear" required>
                    <option value="" selected disabled>Year</option>
                    <option ng-repeat="year in vm.cardYears" value={{year}}>{{year}}</option>
                  </select>
                  <span class="help-block" ng-show="myForm.cardYear.$touched && myForm.cardYear.$invalid">This field is required.</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>CVC * :</label>
              <input type="text" class="form-control cvc" name="cardCvc" ng-model="vm.cardCvc" maxlength="5" required placeholder="CVC">
              <span class="help-block" ng-show="myForm.cardCvc.$touched && myForm.cardCvc.$invalid">This field is required.</span>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <label>Amount:</label>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <h4>{{vm.amountPackage}}</h4>
                </div>
                <div class="col-xs-12">
                  <div class="col-xs-6">
                    <div class="amountCategory">
                      <h5>{{vm.raceCategory}}</h5>
                    </div>
                  </div>
                  <div class="col-xs-6 subamountPrize">
                    <span>${{vm.raceAmount}}</span>
                  </div>
                </div>
              </div>
              <div class="row" ng-if="vm.discount > 0">
                <div class="col-xs-12">
                  <h4>Promo Code</h4>
                </div>
                <div class="col-xs-12">
                  <div class="col-xs-6">
                    <div class="amountCategory">
                        <h5>Discount {{vm.discount}}</h5>
                    </div>
                  </div>
                  <div class="col-xs-6 subamountPrize">
                    <span>-${{vm.discountPrice}}</span>
                  </div>
                </div>
              </div>
              <div class="row" ng-if="vm.selectedMerchandises.length > 0">
                <div class="col-xs-12">
                  <h4>Merchandise</h4>
                </div>
                <div class="col-xs-12" ng-repeat="merchandise in vm.selectedMerchandises track by $index">
                  <div class="col-xs-6">
                    <div class="amountCategory">
                      <h5>{{merchandise.name}} {{merchandise.hasVarianSize === 'Yes' ? merchandise.varian : ''}} (${{merchandise.price}} X {{merchandise.quantity}})</h5>
                    </div>
                  </div>
                  <div class="col-xs-6 subamountPrize">
                    <span>${{merchandise.price * merchandise.quantity}}</span>
                  </div>
                </div>
              </div>    
              <div class="row">
                <div class="col-xs-6">
                  <div class="amountCategory">
                    <h4>Total Payment</h4>
                  </div>
                </div>
                <div class="col-xs-6 amountPrize">
                  <span>${{vm.amount}}</span>
                </div>
              </div>                  
              <p class="info">
                * This field is required!
              </p>
              <hr />
              <div style="float:left">
                <button type="button" class="btn btn-default" ng-click="vm.back()">Back</button>
              </div>
              <div style="float:right">
                <button type="button" class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="vm.submitForm()">Register</button>
              </div>
            </div>
          </div>
          <div ng-if="vm.step === 4" class="respondRegistration">
            <h1>Registration Success!</h1>
            <p>Please check your email for your confirmation slip.<p>
            <p>Confirmation slip usually takes about 1 - 5 minutes.<p>
            <p>Or you can</p>
            <p>
              <a href="/confirmation" class="btn btn-primary" role="button" style="text-decoration: none;">Check your confirmation slip</a>
            </p>
            <p>
              <a href="/" class="btn btn-default purple" role="button" style="text-decoration: none;">Back to Home</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>